{% extends "base.html" %}

{% block content %}
  <h1>Edit Password</h1>
  <form method="POST" action="{{ url_for('auth.edit_password') }}">
    <label for="currentPassword">Current Password</label>
    <input type="password" id="currentPassword" name="currentPassword" required><br><br>

    <label for="newPassword1">New Password</label>
    <input type="password" id="newPassword1" name="newPassword1" required><br><br>

    <label for="newPassword2">Confirm New Password</label>
    <input type="password" id="newPassword2" name="newPassword2" required><br><br>
    <input type="submit" value="Update Password" class="btn btn-info">


  </form>

{% endblock %}

